body
{
    background-color: #fefefe;
}
.row.navi {
	margin-top: 10px;
}
.row.main {
	margin-top: 180px;
}
.bold, .result {font-weight:bold;}
.divresult {display:none;}
.input-group-addon
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-control:focus
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-signup input[type="text"],
.form-signup input[type="password"] { 
	border: 1px solid rgb(50, 118, 177); 
}